# --------------------------------------------------------------------------
# Application settings
# --------------------------------------------------------------------------

# Application name
APP_NAME=Expanse

# Application environment
#
# The environment the application is running in.
APP_ENV=local

# Application URL
#
# The URL of the application. This is used by some components of the application to generate URLs.
# It should be set to the root URL of the application, including the scheme (http or https) and the domain name.
# For instance: `https://example.com`.
APP_URL=http://localhost

# Encryption key
#
# This key is used by the application for encryption and should be set
# to a random, 32-character string or a base64-encoded 32 bytes prefixed with `base64:`.
# This must be set prior to deploying the application.
APP_SECRET_KEY=

# Previous encryption keys
#
# This is a comma-separated list of previous encryption keys that were used by the
# application. This is used to decrypt messages that were encrypted with an older key.
APP_PREVIOUS_KEYS=

# Debug mode
#
# The debug mode mostly controls how the application behaves when an error
# occurs. When debug mode is enabled, the application will display detailed
# messages about the error, including a stack trace. When debug mode is disabled,
# the application will display a generic error message instead.
APP_DEBUG=true


# --------------------------------------------------------------------------
# Database settings
# --------------------------------------------------------------------------

# Default database connection
#
# The default database connection that should be used
# when no connection is explicitly specified.
DB_CONNECTION=sqlite

# Database connections
#
# The database connections that are defined for your applications.
DB_CONNECTIONS__SQLITE__DRIVER=sqlite
DB_CONNECTIONS__SQLITE__DATABASE=database/database.sqlite
# DB_CONNECTION=postgresql
# DB_CONNECTIONS__POSTGRESQL__DRIVER=postgresql
# DB_CONNECTIONS__POSTGRESQL__HOST=127.0.0.1
# DB_CONNECTIONS__POSTGRESQL__PORT=5432
# DB_CONNECTIONS__POSTGRESQL__DATABASE=expanse
# DB_CONNECTIONS__POSTGRESQL__USERNAME=postgres
# DB_CONNECTIONS__POSTGRESQL__PASSWORD=


# --------------------------------------------------------------------------
# Redis settings
# --------------------------------------------------------------------------

# Default connection
#
# The default connection that should be used
# when no connection is explicitly specified.
REDIS_CONNECTION=default

# Redis connections
#
# The Redis connections that are defined for your applications.
REDIS_CONNECTIONS__DEFAULT__URL=redis://127.0.0.1:7379/0
# REDIS_CONNECTIONS__DEFAULT__MAX_RETRIES=3
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_STRATEGY=decorrelated_jitter
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_BASE=1
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_CAP=10
REDIS_CONNECTIONS__CACHE__URL=redis://127.0.0.1:7379/1
# REDIS_CONNECTIONS__DEFAULT__MAX_RETRIES=3
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_STRATEGY=decorrelated_jitter
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_BASE=1
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_CAP=10
REDIS_CONNECTIONS__MESSAGES__URL=redis://127.0.0.1:7379/2
# REDIS_CONNECTIONS__DEFAULT__MAX_RETRIES=3
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_STRATEGY=decorrelated_jitter
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_BASE=1
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_CAP=10


# --------------------------------------------------------------------------
# Cache settings
# --------------------------------------------------------------------------

# Default cache store
#
# The default cache store that should be used
# when no store is explicitly specified.
CACHE_STORE=database

# Cache stores
#
# The cache stores that are defined for your applications.

# Database cache store configuration
CACHE_STORES__DATABASE__DRIVER=database
CACHE_STORES__DATABASE__CONNECTION=sqlite
CACHE_STORES__DATABASE__TABLE_NAME=cache
# CACHE__STORES__DATABASE__L1_CACHE__DRIVER=memory
# CACHE_STORES__DATABASE__L1_CACHE__BUS__DRIVER=redis
# CACHE_STORES__DATABASE__L1_CACHE__BUS__CONNECTION=default

# File cache store configuration
# CACHE_STORE=file
# CACHE_STORES__FILE__DRIVER=file
# CACHE_STORES__FILE__PATH=storage/cache

# Redis cache store configuration
# CACHE_STORE=redis
# CACHE_STORES__REDIS__DRIVER=redis
# CACHE_STORES__REDIS__CONNECTION=cache

# --------------------------------------------------------------------------
# Encryption settings
# --------------------------------------------------------------------------

# Key derivation salt
#
# The salt used for key derivation in encryption.
# This should be set to a random string and kept secret.
ENCRYPTION_SALT=

# --------------------------------------------------------------------------
# Message bus settings
# --------------------------------------------------------------------------

# Default transport
#
# The default transport that should be used
# when no transport is explicitly specified.
MESSENGER_TRANSPORT=database

# Failure transport
#
# The transport where messages that failed to be processed should be sent.
MESSENGER_FAILURE_TRANSPORT=

# Transports
#
# The transports that are defined for your applications.

# Database transport configuration
MESSENGER_TRANSPORTS__DATABASE__DRIVER=database
MESSENGER_TRANSPORTS__DATABASE__CONNECTION=sqlite
MESSENGER_TRANSPORTS__DATABASE__TABLE_NAME=messages
MESSENGER_TRANSPORTS__DATABASE__QUEUE=default
MESSENGER_TRANSPORTS__DATABASE__REDELIVERY_TIMEOUT=3600
MESSENGER_TRANSPORTS__DATABASE__RETRY_STRATEGY=multipler

# File transport configuration
# MESSENGER_TRANSPORT=sync
# MESSENGER_TRANSPORTS__SYNC__DRIVER=sync

# Retry strategies
#
# The retry strategies that are defined for your application.
MESSENGER_RETRY_STRATEGIES__MULTIPLIER__TYPE=multiplier
MESSENGER_RETRY_STRATEGIES__MULTIPLIER__MAX_RETRIES=3
MESSENGER_RETRY_STRATEGIES__MULTIPLIER__DELAY=1000
MESSENGER_RETRY_STRATEGIES__MULTIPLIER__MULTIPLIER=2
MESSENGER_RETRY_STRATEGIES__MULTIPLIER__MAX_DELAY=
MESSENGER_RETRY_STRATEGIES__MULTIPLIER__JITTER=0.1

# --------------------------------------------------------------------------
# Logging settings
# --------------------------------------------------------------------------

# Channels
#
# The logging channels that are defined for your applications.

# Group channel configuration
LOG_CHANNELS__GROUP__DRIVER=group
LOG_CHANNELS__GROUP__CHANNELS=console,file

# Console channel configuration
LOG_CHANNELS__CONSOLE__DRIVER=console
LOG_CHANNELS__CONSOLE__LEVEL=INFO

# File channel configuration
LOG_CHANNELS__FILE__DRIVER=file
LOG_CHANNELS__FILE__PATH=storage/logs/app.log
LOG_CHANNELS__FILE__LEVEL=INFO

# Stream channel configuration
# LOG_CHANNELS__STREAM__DRIVER=stream
# LOG_CHANNELS__STREAM__STREAM=stderr
# LOG_CHANNELS__STREAM__LEVEL=INFO
# LOG_CHANNELS__STREAM__STRUCTURED=true

# Logging mode
#
# Whether the logging manager should operate in sync or async mode.
# In sync mode, log messages are processed synchronously,
# which can impact performance but ensures that logs are written immediately and sequentially.
# This can be useful when debugging.
LOG_MODE=sync

# Loggers routing
#
# Defines how loggers are routed to channels. The keys are logger names, and the values are lists of channel names.
LOG_ROUTING="
app:console,file
"

# --------------------------------------------------------------------------
# HTTP session settings
# --------------------------------------------------------------------------

# Default session store
#
# The default session store that should be used
# when no store is explicitly specified.
SESSION_STORE=database

# Available session stores
#
# The session stores that are defined for your applications.
SESSION_STORES__DATABASE__TABLE=sessions
SESSION_STORES__DATABASE__CONNECTION=default

# Session cookie name
#
# The name of the session cookie.
# Leaving it empty will derive the name from your application name.
SESSION_NAME=

# Session lifetime
#
# This option defines maximum duration in minues the session can remain idle
# before it expires.
SESSION_LIFETIME=120

# Whether the session should be cleared when the browser is closed.
#
# When set to true, the session ID cookie will be removed after the user closes the browser window.
SESSION_CLEAR_WITH_BROWSER=false


# -------------------------------------------------------------------------
# Storage settings
# --------------------------------------------------------------------------

# Default storage
#
# The default storage that should be used
# when no storage is explicitly specified.
STORAGE_STORAGE=local

# Storages
#
# The storages that are defined for your applications.

# Local storage configuration
STORAGE_STORAGES__LOCAL__DRIVER=local
STORAGE_STORAGES__LOCAL__ROOT=storage/app

# S3 storage configuration
# STORAGE_STORAGE=s3
# STORAGE_STORAGES__S3__DRIVER=s3
# STORAGE_STORAGES__S3__KEY=your-access-key-id
# STORAGE_STORAGES__S3__SECRET=your-secret-access-key
# STORAGE_STORAGES__S3__REGION=your-region
# STORAGE_STORAGES__S3__BUCKET=your-bucket-name
# STORAGE_STORAGES__S3__ENDPOINT=
