# --------------------------------------------------------------------------
# Application settings
# --------------------------------------------------------------------------
APP_NAME=Expanse
APP_ENV=local
APP_SECRET_KEY=
APP_DEBUG=true

# --------------------------------------------------------------------------
# Database settings
# --------------------------------------------------------------------------
DB_CONNECTION=sqlite
DB_CONNECTIONS__SQLITE__DRIVER=sqlite
DB_CONNECTIONS__SQLITE__DATABASE=database/database.sqlite
# DB_CONNECTION=postgresql
# DB_CONNECTIONS__POSTGRESQL__DRIVER=postgresql
# DB_CONNECTIONS__POSTGRESQL__HOST=127.0.0.1
# DB_CONNECTIONS__POSTGRESQL__PORT=5432
# DB_CONNECTIONS__POSTGRESQL__DATABASE=expanse
# DB_CONNECTIONS__POSTGRESQL__USERNAME=postgres
# DB_CONNECTIONS__POSTGRESQL__PASSWORD=

# --------------------------------------------------------------------------
# Redis settings
# --------------------------------------------------------------------------
REDIS_CONNECTION=default
REDIS_CONNECTIONS__DEFAULT__URL=redis://127.0.0.1:7379/0
# REDIS_CONNECTIONS__DEFAULT__MAX_RETRIES=3
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_STRATEGY=decorrelated_jitter
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_BASE=1
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_CAP=10
REDIS_CONNECTIONS__CACHE__URL=redis://127.0.0.1:7379/1
# REDIS_CONNECTIONS__DEFAULT__MAX_RETRIES=3
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_STRATEGY=decorrelated_jitter
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_BASE=1
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_CAP=10
REDIS_CONNECTIONS__MESSAGES__URL=redis://127.0.0.1:7379/2
# REDIS_CONNECTIONS__DEFAULT__MAX_RETRIES=3
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_STRATEGY=decorrelated_jitter
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_BASE=1
# REDIS_CONNECTIONS__DEFAULT__BACKOFF_CAP=10

# --------------------------------------------------------------------------
# Encryption settings
# --------------------------------------------------------------------------
ENCRYPTION_SALT=

# --------------------------------------------------------------------------
# Message bus settings
# --------------------------------------------------------------------------
MESSENGER_TRANSPORT=database
MESSENGER_TRANSPORTS__DATABASE__DRIVER=database
MESSENGER_TRANSPORTS__DATABASE__CONNECTION=sqlite
MESSENGER_TRANSPORTS__DATABASE__TABLE_NAME=messages
MESSENGER_TRANSPORTS__DATABASE__QUEUE=default
MESSENGER_TRANSPORTS__DATABASE__REDELIVERY_TIMEOUT=3600
MESSENGER_TRANSPORTS__DATABASE__RETRY_STRATEGY=multipler
# MESSENGER_TRANSPORT=sync
# MESSENGER_TRANSPORTS__SYNC__DRIVER=sync
MESSENGER_RETRY_STRATEGIES__MULTIPLIER__TYPE=multiplier
MESSENGER_RETRY_STRATEGIES__MULTIPLIER__MAX_RETRIES=3
MESSENGER_RETRY_STRATEGIES__MULTIPLIER__DELAY=1000
MESSENGER_RETRY_STRATEGIES__MULTIPLIER__MULTIPLIER=2
MESSENGER_RETRY_STRATEGIES__MULTIPLIER__MAX_DELAY=
MESSENGER_RETRY_STRATEGIES__MULTIPLIER__JITTER=0.1
